.lato {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 68px;
}
.blue-background {
	background-color: #20315A;
}
.white-text {
	color: white;
}
.padding-80-170 {
	padding: 40px 70px;
}
.container {
	max-width: 1142px;
}
.mar-bot-40{
	margin-bottom: 40px;
}
.border-2 {
	border: 2px solid black;
}
.mar-0 {
	margin: 0px;
}
.grey-blue-back {
	background-color: #798D8F;	
	font-size: 15px;
}