body {
	background-color: #FACE13;
	background-image: url(https://media3.giphy.com/media/tSniEbOGfuCnm/200.gif?cid=e1bb72ff5a209e5e7050475a67c6d5f8);
	background-repeat: repeat-x repeat-y;
	color: #FACE13;
}